*{
    margin: 0;
    padding: 0;
}
.main{
    background: blue;
}
.main ul{
    text-align: center;
}
.main ul li{
    display: inline-block;
    position: relative;
}
.main ul li a{
    color: aliceblue;
    text-decoration: none;
    display: inline-block;
    padding: 15px 20px;
    font-size: 30px;
    border-right: 2px solid aliceblue;
    margin-left: -4px;
}
.main ul li:hover > a{
    background: rgb(182, 182, 224);
   
}
.main ul li ul{
    position: absolute;
    top: 100%;
    left: 0;
    width: 200px;
    background: blue;
    visibility: hidden;
    
}
.main ul li ul li{
    
   display:block;
}
.main ul li ul li a{
    border: none;
    display: block;
    margin: 0;
    
}
.main ul li:hover ul{
    visibility: visible;
}